h1 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

h2 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    color: white;
}

p {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 20px;
}

a, button{
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 125px;
}

ul li {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 20px;
}

.btn {
    font-family: Source Sans Pro;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 25px;
    border-radius: 2px;
    width: 125px;
}

.hero {
    background-color: rgb(0, 66, 71);
}

.hero h1 {
    color: white;
}

.hero p {
    color: white;
}

.content {
     max-width: 1000px;
     margin: auto;
     padding: 25px 0;
}

.hero-content {
    width: 500px;
}

.round-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.col-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-half {
    display: flex;
    justify-content: center;
    width: 42%;
}

.col-img {
    display: flex;
    justify-content: flex-end;
}

.col-1 {
    padding-right: 4%;
    min-width: 330px;
}

.col-2 {
    padding-left: 4%;
    min-width: 400px;
}

.section-2 {
    padding: 100px 100px;
}

.img-center {
    text-align: center;
}

.banner {
    background-color: rgb(0, 66, 71);
}

.banner-row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.banner-col-1 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.banner-col-2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 890px) {
    .content {
        padding: 10px 20px;
    }
    .row {
        justify-content: center;
    }
    .col-img, .col-first {
       padding-top: 30px;
       justify-content: center;
       text-align: center;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    a, button {
        margin: auto;
    }
  }

@media only screen and (max-width: 1100px) {
    .section-2 {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 1240px) {
    .col-1 {
        width: 90%;
    }
    .col-2 {
        width: 90%;
    }
}